.cart-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  .cart-h1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(138, 7, 29);
    color: black;
    
  }

  .wine-cart {
    display: flex;
    flex-direction: column;
    height: 560px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

.wine-cart-image {
    width: 160px;
    height: 360px;
    Border: 1px solid rgb(138, 7, 29);
    border: 2px solid rgb(236, 213, 82);
    border-radius: 15px;
    cursor: pointer;
}

.wine-cart-description {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(138, 7, 29);
    cursor: pointer;
    margin: 10px 0;
}
  

.cart-item-price {
    color: rgb(96, 146, 107);
}

.wine-cart-buttons {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(to right, rgb(51, 3, 11), rgb(138, 7, 29));
    border: 2px solid rgb(236, 213, 82);
    border-radius: 40px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.cart-quantity {
    width: 30px;
    color: rgb(236, 213, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cart-btn-minus, .cart-btn-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    background: rgb(109, 7, 24);
    cursor: pointer;
    border: 1px solid rgb(236, 213, 82);
    transition: 0.3s ease-in-out;
}

.cart-btn-minus:hover, .cart-btn-more:hover {
    border: 1px solid rgb(236, 213, 82);
    background: rgb(133, 8, 29);
}

.cart-delete-item {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 40px;
    border: 1px solid rgb(236, 213, 82);
    color: rgb(182, 164, 65);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 22px;
}
.cart-delete-item:hover {
    border: 2px solid rgb(236, 213, 82);
    color: rgb(236, 213, 82);
}

.empty-cart {
    width: 100%;
    height: 20dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-total-div {
    width: 100%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: rgb(52, 221, 89);
}

.cart-total-div-h2 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(51, 199, 83);
    margin-top: 20px;
    font-size: 26px;
}

.cart-total-div-h2-price {
    font-size: 24px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: lighter;
    font-size: 30px;
    color: rgb(52, 221, 89);
    transition: 0.3s ease-in-out;
    margin-bottom: 10px;
}.cart-total-div-h2-price:hover {
    color: rgb(72, 236, 108);
}


@media(min-width: 360px) {
    .wine-cart-description {
        height: 100px;
        
    }
    .empty-cart {
        height: 30vh;
    }
}

@media(min-width: 500px) {
    .wine-cart {
        height: 400px;
        flex-direction: row;
    }
    .wine-cart {
        width: 100%;
        height: 120px;
        display: flex;
        gap: 10px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 0.3s ease-in-out;
    }

    .wine-cart-buttons {
        width: 180px;
        height: 45px;
    }
    
    .wine-cart-image {
        width: 160px;
        height: 200px;
        Border: 1px solid rgb(138, 7, 29);
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .wine-cart:hover > .wine-cart-image {
        transform: translateY(-14px);
        border: 2px solid rgb(236, 213, 82); 
    }
    .empty-cart {
        height: 100dvh;
    }
    
}

    @media(min-width: 600px) {
        .empty-cart {
            height: 100dvh;
        }
    }