.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .wine-cart {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.wine-cart-image {
    width: 140px;
    height: 300px;
    Border: 1px solid rgb(138, 7, 29);
    border: 2px solid rgb(236, 213, 82);
    border-radius: 15px;
    cursor: pointer;
}

.wine-cart-description {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: rgb(138, 7, 29);
    cursor: pointer;
}
  

.cart-item-price {
    color: rgb(96, 146, 107);
}

.wine-cart-buttons {
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-image: linear-gradient(to right, rgb(51, 3, 11), rgb(138, 7, 29));
    border: 1px solid rgb(236, 213, 82);
    border-radius: 40px;
    padding: 0 4px;
}

.cart-quantity {
    width: 30px;
    color: rgb(236, 213, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cart-btn-minus, .cart-btn-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
    background: rgb(109, 7, 24);
    cursor: pointer;
    border: 1px solid rgb(236, 213, 82);
}

.cart-btn-minus:hover, .cart-btn-more:hover {
    border: 1px solid rgb(236, 213, 82);
}

.cart-delete-item {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 40px;
    border: 1px solid rgb(236, 213, 82);
    cursor: pointer;
}

.cart-total-div {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: rgb(52, 221, 89);
}

.cart-total-div-h2 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(52, 221, 89);
    margin-top: 20px;
}

.cart-total-div-h2-price {
    font-size: 24px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    font-weight: lighter;
}

.cart-total-div:hover > .cart-total-div-h2-price {
    font-size: 26px;
}



@media(min-width: 360px) {
    .wine-cart-description {
        height: 50px;
        
    }
}

@media(min-width: 500px) {
    .wine-cart {
        flex-direction: row;
    }
    .wine-cart {
        width: 100%;
        height: 120px;
        display: flex;
        gap: 10px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 0.3s ease-in-out;
    }
    
    .wine-cart-image {
        width: 140px;
        height: 160px;
        Border: 1px solid rgb(138, 7, 29);
        border-radius: 15px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .wine-cart:hover > .wine-cart-image {
        transform: translateY(-14px);
        border: 2px solid rgb(236, 213, 82); 
    }
}