.choose-payment-method {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-payment-method.active {
  height:  140vh;
  background: rgb(109, 7, 24);
}

.checkout-button-div {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.checkout-button {
    width: 140px;
    height: 50px;
    padding: 0 10px;
    font-weight: lighter;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 26px;
    cursor: pointer;
    font-weight: lighter;
    background: white;
    transition: 0.3s ease-in-out;
    border: 2px solid rgb(236, 213, 82);
    color: white;
    background: rgb(109, 7, 24);

}

.checkout-button:hover {
    border: 2px solid rgb(247, 225, 101);
    color: rgb(247, 225, 101);
    background: rgb(109, 7, 24);
}

.pix-icon-div {
    width: 160px;
    height: 100px;
    border: 2px solid rgb(100, 100, 211);
    border-radius: 20px;
    background-image: url("/lavand/public/pixLogo2.webp");
    background-size: center;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 5px;
}

.card-icon-div {
    width: 160px;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(2, 180, 2), rgb(8, 212, 8), rgb(2, 180, 2));
    transition: 0.3s ease-in-out;
} 
  .card-icon-div:hover{
    transform: translateY(-10px);
    border: 2px solid rgb(236, 213, 82);
  }

  .card-icon-div:hover {
    color: rgb(248, 225, 96);
    border: 2px solid rgb(248, 225, 96);
  } 

    .card-span {
        margin-left: 10px;
    }
  
  .payment-form {
    width: 100%;
    height: auto;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(248, 225, 96);
    border: 2px solid rgb(109, 7, 24);
    position: relative;
    transition: 0.3s ease-in-out;
    
  }
  .payment-form label {
    color: rgb(240, 215, 76);
    color: rgb(109, 7, 24);
  }

  .exit-btn {
    width: 25px;
    height: 25px;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    color: rgb(109, 7, 24);
    border-radius:  40px;
  }
  .exit-btn:hover {
    color: rgb(226, 31, 63);
    font-weight: 400;
  }

  .payment-details {
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 26px;
    justify-content: center;
    font-weight: lighter;
    align-items: center;
    color: rgb(109, 7, 24);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
  }

  .form-group input:hover {
      border-color: rgb(109, 7, 24);
     
  }

  .form-group input:focus {
    border: 2px solid rgb(109, 7, 24);
    border-color: rgb(109, 7, 24);
    color: rgb(109, 7, 24);
    outline: none;
}
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
  }
  
  .checkout-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }

  @media(min-width: 640px) {
    .choose-payment-method.active {
      height: 170vh;
    }
  }
    
  @media(min-width: 720px) {
    .choose-payment-method.active {
      height: 160vh;
    }
    .payment-form {
      min-width: 600px;
      height: 580px;
      border-radius: 25px;
      display: flex;
      flex-wrap: wrap;
      margin: 20px auto;
    }
    .form-group {
      width: 45%;
      margin: 0 10px;
    }
    .payment-details {
      width: 100%;
      height: 100px;
      display: flex;
      font-size: 26px;
      justify-content: center;
      font-weight: lighter;
      align-items: center;
      color: rgb(109, 7, 24);
    }
  }

  @media(min-width: 960px) {
    .choose-payment-method.active {
      height: 110vh;
    }
  }
