.headerComponent {
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, rgb(109, 7, 24), rgb(170, 13, 39), rgb(109, 7, 24));
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 3px solid rgb(236, 213, 82);
    position: relative;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.headerComponent.active {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.logo-div {
    width: 90px;
    height: 90px;
    background-image: url("../../../public/logopequena.png");
    background-position: center;
    background-size: cover;
    border-radius: 60px;
    border: 1px solid white;
    transition: transform 0.3s ease, border 0.3s ease;
    padding: 5px;
    margin: 0 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.logo-div:hover {
    border: 1px solid rgb(236, 213, 82);
    transform: scale(1.1);
}

.hamburger {
    width: 55px;
    height: 55px;
    background: rgb(82, 5, 18);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid white;
    margin: 0 20px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.hamburger.active {
    background: white;
    background: rgb(82, 5, 18);
    transform: rotate(90deg);
    border: 1px solid white;
}

.line {
    width: 90%;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
    background: rgb(109, 7, 24);
    display: none;
}
.hamburger.active .line:nth-child(2) {
    opacity: 0;
    color: white;
    display: none;
}
.hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    background: rgb(109, 7, 24);
    color: white;
    display: none;
}


.nav {
    margin-right: 20px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.nav-ul {
    display: flex;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
}

.nav-li {
    list-style: none;
    display: flex;
}

.Link-to-Home,
.Link-to,
.link-to-cart {
    text-decoration: none;
    font-size: 22px;
    margin: 0 10px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.Link-to:hover,
.link-to-cart:hover {
    color: rgb(236, 213, 82);
    transform: translateY(-2px);
}

.link-to-cart-div {
    width: 55px;
    height: 55px;
    background: rgb(82, 5, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    transition: border 0.3s ease, transform 0.3s ease;
    margin: 0 20px;
}

.link-to-cart-div:hover {
    border: 2px solid white;
    transform: scale(1.1);
}

.link-to-cart {
    font-size: 30px;
}


@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        background-color: rgb(109, 7, 24);
        border-top: 1px solid white;
        display: none;
    }

    .nav.open {
        display: block;
        z-index: 1000;
        animation: fadeIn 0.5s ease forwards;
    }

    .nav-ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-li {
        flex-direction: column;
        margin: 10px 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}